body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}

.category-item {
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  color: #333;
  transition: background 0.3s;
}

.category-item:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}
.navbar-brand img {
  border-radius: 5px;
}

.stars {
  display: flex;
  font-size: 20px;
  color: gold;
}
.stars .empty {
  color: #ccc;
}
